/* Reset de estilos */
body, h1, h2, p, button, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Título */
h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Botón "Ver más" */
button {
    align-self: center;
    align-items: center;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 5%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Azul */
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease; /* Animación suave de los cambios */
}

button:hover {
    background-color: #0056b3; /* Azul más oscuro */
    transform: scale(1.1); /* Aumento de tamaño al pasar el mouse */
}

.buttons {
    align-self: center;
    margin-left: 41%;
}

.columns-container {

    justify-content: space-between;
    width: 100%;
}
.column {
    width: 20%;
    padding: 10px;
    margin-right: 20px;
    text-align: justify;
}
.options {
    list-style-type: none;
    padding: 0;
}

h1 {
    text-align: center;
}

.columns-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 800px;
}

.column {
    flex: 1;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    margin-top: 0;
}

.options {
    list-style-type: none;
    padding: 0;
}

.options li {
    margin-bottom: 5px;
}

input[type="radio"] {
    margin-right: 5px;
}

.column.disabled {
    opacity: 0.5;
    pointer-events: none;
}