/* Reset de estilos */
body, h1, h2, p, button, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Contenedor principal */
.contenido {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Título */
h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Subtítulo */
h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

/* Botones */
.choose-buttons {
    text-align: center;
}

.choose-buttons a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.choose-buttons a:hover {
    background-color: #0056b3;
}

.second-title {
    margin-top: 1.5rem;
}
